.candidate-card {
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}

.candidate-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.candidate-info {
  display: flex;
  gap: 14px;
}

.candidate-avatar {
  background-color: #1890ff;
  font-size: 16px !important;
  font-weight: bold;
}

.candidate-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.candidate-name {
  font-size: 18px; /* gọn hơn */
  font-weight: 600;
  color: #111827;
  margin: 0;
}

.candidate-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.875rem; /* ~14px */
  color: #4b5563;
}

.candidate-contact span {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 4px;
}

.candidate-status {
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 6px;
  font-size: 14px;
  color: #6b7280;
}

.candidate-actions {
  display: flex;
  gap: 6px;
}

.candidate-action-btn {
  padding: 6px;
  border-radius: 6px;
  background: none;
  font-size: 14px;
}

.candidate-action-btn:hover {
   cursor: pointer;
}

.candidate-action-btn.view {
  color: #2563eb;
}

.candidate-action-btn.view:hover {
  background: #eff6ff;
}

.candidate-action-btn.edit {
  color: #16a34a;
}

.candidate-action-btn.edit:hover {
  background: #ecfdf5;
}

.candidate-action-btn.delete {
  color: #dc2626;
}

.candidate-action-btn.delete:hover {
  background: #fef2f2;
}
