.input-wrapper {
  :global(.ant-input) {
    border: 1px solid #d9d9d9 !important;
    color: #000000 !important;
    background: none !important;

    &:hover,
    &:focus {
      border-color: #1890ff !important;
      box-shadow: none !important;
    }
  }

  :global(.ant-input-affix-wrapper) {
    border: 1px solid #d9d9d9 !important;
    background: none !important;

    &:hover,
    &:focus {
      border-color: #1890ff !important;
      box-shadow: none !important;
    }

    .anticon {
      color: #000000 !important;
    }
  }

  :global(.ant-input-clear-icon) {
    color: #000000 !important;

    &:hover {
      color: #1890ff !important;
    }
  }
}
