.header-nav {
    position: relative;
    height: 66px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    background-color: white;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.nav-left {
    h2 {
        margin: 0;
    }
}

.nav-right {
    position: static;
    display: flex;
    align-items: center;
    gap: 10px;
}
