.attendance-wrapper {
    padding: 16px;
}

.attendance-container {
    margin-top: 16px;
}

.trailer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
}

.sub_header {
    display: flex;
    justify-content: space-between;
    padding: 17px 0px;
}
.features {
    display: flex; 
    gap: 10px;
}
